# `Module 2 Problem Set`

In the first part of the problem set you are going to build a list. Then you will use some of the common list methods that we went over in out Module 2 (e.g. list.remove(), list.count(), etc.) to perform some operations on the list you created. In Part II, you will iterate through the list and perform some operations at each iteration.

Finally, in Part II, you will work with real data (Titanic dataset) by making use of the Pandas Python library.

Enjoy!

### `Part I: Operations on a Python List`

1. Create a list that has these elements -> ('one','Three',2,'Four',5.0) and save it into the variable "myList"
2. Capitalize the first element in the list
3. Remove the integer 2 from the list and leave the element-string, "Two"

In [1]:
myList = ['one','Three',2,'Two','Four',5.0]

In [3]:
test = ['One','Three','Two','Four',5.0]

### `Part II: Iterating through a Python List`

1. Re-order the list to be put in the correct order<br>
    a. We could create a new list... any ideas for an alternative approach?

In [6]:
# enter code here!

2. Use the .append() method, and add each element to "newList". However, if the element = 5.0, change the value to "five" before adding it to "newList"

In [2]:
newList = []

for l in myList:

SyntaxError: unexpected EOF while parsing (<ipython-input-2-b280514138ff>, line 1)

### `Part III: Importing a library`

Import the pandas library with the common alias, 'pd'<br>
Import numpy library with the common alias, 'np'<br>
After importing these two libraries, complete the following:

1. Type out "pd", followed by a ".", and then hit the [tab] key ... What happens?
2. Type out "pd.read_csv()", then put your mouse cursor in the middle of the parenthesis and hit [Shift + Tab}... What Happens?

### `Part IV: Read in Data into a Pandas Dataframe`

From the datasets that are supplied, import a dataset of your choosing using "pd.read_csv()". *Remember* - you must specify the delimiter, if needed (e.g. comma delimitted or space delimitted). From there:

1. Print out the top 7 rows and the last 11 rows of the dataset - let's make sure our data loaded properly
2. Use the .info() and .describe() on your data to learn a bit more

###  `Part V: Perform Analysis on our Dataframe`

Perform the following tasks on the dataset you saved as "df" in Part IV:

1. Find out if there are any null values in any of the columns
2. Find the min,max and average value of a numeric field
3. Sort a non-numeric field in ascending order